div.whatsup
    h1 Melverton Hunter
    button Press me
    h2 developer, cool guy, team player
    ul
        li
            a#one
        li
            a#two
        li
            a#three
        li
            a#four